* {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(247, 198, 106);
}

header {
    height: 90vh;
    width: 100vw;
}

footer {
    text-align: center;
}

footer img {
    width: 50px;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.header-name {
    font-size: 200px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px black;
}

.header-links {
    font-size: 75px;
    color: black;
    text-decoration: none;
}

.about-container {
    display: flex;
    flex-direction: column;
}

.about-container section {
    display: flex;
    justify-content: space-between;
    margin: 8vh;
}

.transparent {
    opacity: 0.25;
}

.slide-container {
    font-size: 4rem;
    width: 70vw;
    text-align: right;
    overflow: hidden;
}

.about-card {
    /* background-color: rgb(247, 198, 106);
    border: 0px; */
    background-color: transparent;
    transform: translateX(400px);
    opacity: 0;
    transition: 300ms;
    font-size: 2rem;
    width: 30vw;
}

.about-card.show {
    background-color: transparent;
    opacity: 1;
    transform: translateX(0);
}

.project-container {
    display: flex;
    flex-direction: column;
}

.project-container section a {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.project-card {
    font-size: 5rem;
}

.project-card:hover {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px black;
}

.project-img {
    width: 500px;
    height: auto;
    transform: translateX(400px);
    opacity: 0;
    transition: 300ms;
}

.project-img.show {
    opacity: 1;
    transform: translateX(0);
}

.contact-header {
    text-align: center;
    margin-top: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
}

.contact-form button {
    width: 30%;
    margin: auto;
    margin-top: 4px;
}

.contact-form label, input, textarea {
    margin: 4px;
}

#icon {
    width: 200px;
    height: 200px;
    animation: rotate infinite 5s linear;
}

.scrollDiv {
    height: 25vh;
    width: 100vw;
}

/* #basketball-img {
    width: 100px;
    height: 100px;
    transform: translate(calc(1% * var(--scroll) * 50), calc(1% * var(--scroll) * 10 * cos(var(--scroll) * -.25)));
} */

@keyframes slideRight {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(100%)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}