* {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(247, 198, 106);
}

header {
    height: 100vh;
    width: 100vw;
}

.header-name {
    font-size: 200px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px black;
}

.header-links {
    font-size: 75px;
    color: black;
    text-decoration: none;
}

.about-container {
    display: flex;
    flex-direction: column;
}

.about-container section {
    display: flex;
    justify-content: space-between;
    margin: 8vh;
}

.about-container section div:nth-child(2) {
    font-size: 5rem;
    text-align: right;
    width: 60vw;
}

.card {
    background-color: rgb(247, 198, 106);
    border: 0px;
    transform: translateX(400px);
    opacity: 0;
    transition: 300ms;
    font-size: 2rem;
}

.card.show {
    opacity: 1;
    transform: translateX(0);
}